.nabvarRoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px;
    background: #242526;
}

.siteName {
    background: white;
    padding: 2px 30px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 600;
}

.searchBar {
    display: flex;
    align-items: center;
    align-content: center;
    background: white;
    padding: 5px;
    border-radius: 18px;
}

.searchBarInput {
    padding: 10px;
    border: none;
}

.searchBtn {
    margin: 0px 7px;
}

.otherOptions {
    align-items: center;
    align-content: center;
    display: flex;
}

.profileBtn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.profileImageNavBar {
    width: 100%;
    height: 100%;
}

.menuBtn {
    color: white;
    size: 10px;
    font-size: 35px;
}

.navBarContainer {
    position: fixed;
    width: 100%;
    top: 0;
}

.searchBarInput:focus {
    border: none;
}