.friendListContainer {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    grid-gap: 10px
}

.friendListCOntainerRoot {
    display: flex;
    justify-content: center;
}

.friendListheadingTextContainer {
    display: flex;
    justify-content: center;
}