.postsView {
    margin: auto;
    padding: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 94px);

}

@media screen and (min-width:620px) {
    .postsView {
        max-height: calc(100vh - 94px);
    }


}

@media screen and (max-width:620px) {
    .postsView {
        max-height: calc(100vh - 130px);
    }
}

.postsView::-webkit-scrollbar {
    display: none;
}