.postsView {
    margin: auto;
    overflow-x: hidden;
    width: 100vw;
    overflow-y: auto;

}

@media screen and (min-width:620px) {
    .postsView {
        max-height: calc(100vh - 95px);
    }


}

@media screen and (max-width:620px) {
    .postsView {
        max-height: calc(100vh - 130px);
    }


}

.postsView::-webkit-scrollbar {
    display: none;
}