.postsView {
    margin: auto;
    overflow-x: hidden;

    overflow-y: auto;

}

@media screen and (min-width:620px) {
    .postsView {
        max-height: var(--containerHeightLarge);

    }


}

@media screen and (max-width:620px) {
    .postsView {
        max-height: var(--containerHeightSmall);
        width: 100vw;
    }


}

.postsView::-webkit-scrollbar {
    display: none;
}