.searchResultUserInfo {
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background: #3c3d3e;
    padding: 10px;
    border-radius: 16px;
    margin: 10px;
}