.interestItem {
    background: #5d5f61;
    padding: 0px 15px;
    border-radius: 20px;
    border: 2px solid pink;
    font-size: 15px;
    margin: 2px;
}

.interestListPanel {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.interestListHeading {
    color: white;
    font-size: 20px;
    font-weight: 100;
}