.postDetailsContainer {
    background: #6d6e6e;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
}

.creationTime {
    margin: 0px;
    font-size: 11px;
    font-weight: 100;
}

.infoContainer {
    color: white;
}

.creatorName {
    margin: 0px;
    font-size: 20px;
    font-weight: 100;
}



.mainPostDetailsContainer {
    max-height: var(--containerHeightLarge);
    background: #18191a;
    height: var(--containerHeightLarge);
    display: grid;
    grid-template-columns: 30vw auto 30vw;
    align-items: center;
    overflow-y: auto;
}

@media screen and (max-width:620px) {
    .mainPostDetailsContainer {
        max-height: var(--containerHeightSmall);
        height: var(--containerHeightSmall);
        grid-template-columns: 0vw auto 0vw;
    }

    .postDetailsContainer {
        margin: 10px;
    }
}

.postCreatorInfoContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}