.postDetailsContainer {
    background: #6d6e6e;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
}

.creationTime {
    margin: 0px;
    font-size: 11px;
    font-weight: 100;
}

.infoContainer {
    color: white;
}

.creatorName {
    margin: 0px;
    font-size: 20px;
    font-weight: 100;
}

.mainPostDetailsContainer {
    max-height: calc(100vh - 95px);
    background: #18191a;
    height: calc(100vh - 95px);
    display: grid;
    grid-template-columns: 30vw auto 30vw;
    align-items: center;
    overflow-y: auto;
}

.postCreatorInfoContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}