.SlideInMessagesRoot {
    position: absolute;
    height: calc(100vh - 95px);
    top: 95px;
    left: -20vw;
    background: white;
    z-index: 2000;
    width: 20vw;
    overflow-y: auto;
}


.slideContainerRight {
    animation-name: slideContainerRight;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.slideContainerLeft {
    animation-name: slideContainerLeft;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

@keyframes slideContainerRight {
    0% {
        left: -20vw;
    }

    100% {
        left: 0vw;
    }
}

@keyframes slideContainerLeft {
    100% {
        left: -20vw;
    }

    0% {
        left: 0vw;
    }
}