.chatHeadContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1200;
}

.scrollableChatHeadListContainer>div {
    margin: 10px;

}

.newIconContainer {
    position: absolute;
    top: 30px;
    color: red;
    left: 5px;
}

.scrollableChatHeadListContainer {
    max-height: 200px;
    overflow-y: auto;
}

.scrollableChatHeadListContainer::-webkit-scrollbar {
    display: none;
}