.unauthorizedViewContainer {
    --formInputBgColor: #7e7e7e;
    display: grid;
    grid-template-columns: 50% auto;
    height: 100vh;
    align-items: center;
}

.formElement {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 40px auto;
    background: var(--formInputBgColor);
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 29px;
    color: white;
    border: 2px solid black;
}

.formItemsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    max-width: calc(100% + 130px);
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 20px;
    max-height: 100px;
}

input.inputContainerForm {
    background: inherit;
    border: none;
    color: white;
}

.formIcon {
    margin: auto;
}

.registrationFormImageUpload {
    background: var(--formInputBgColor);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    justify-content: center;
    background: #b00020;

}

.formHeader {
    font-size: 30px;
    color: white;
    font-weight: 100;
}

.slideDown {
    animation-name: slideDown;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

.slideUp {
    animation-name: slideUp;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    0% {
        max-height: 90px;
    }

    100% {
        max-height: 100%;
    }
}

@keyframes slideUp {
    0% {
        max-height: 100%;
    }

    100% {
        max-height: 90px;
    }
}

@media screen and (max-width:620px) {
    .unauthorizedViewContainer {
        display: block;
    }

    .logoContainer {
        position: absolute;
    }
}

img.loginPageLogo {
    width: 100%;
    background: white;
}

.formActionBtnContainer {
    display: flex;

}