.userProfileInfoContainer {
    position: relative;
    margin: auto;
    align-items: center;
    grid-template-columns: auto;
    justify-items: center;
    padding: 10px;
}

.profileViewLargeScreen {
    background: #18191A;
    overflow-y: auto
}


@media screen and (min-width:620px) {
    .profileViewLargeScreen {
        max-height: calc(100vh - 95px);
    }


}

@media screen and (max-width:620px) {
    .profileViewLargeScreen {
        max-height: calc(100vh - 130px);
    }


}

.profileViewLargeScreen::-webkit-scrollbar {
    display: none;
}

.postsViewProfile::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:620px) {
    .postsViewProfile {
        max-height: calc(100vh - 130px);
    }


}

.postsViewProfile {
    margin: auto;
    padding: 10px;
    overflow-y: auto;
    width: 40vw;
}

.coverPhotoContainer {
    width: 80vw;
    margin: auto;
}

.userName {
    font-size: 20px;
}

.textInfo {
    line-height: 0px;
    color: white;
}

.nameContainer {
    color: white;
    display: grid;
    align-items: start;
    align-content: center;
    grid-template-columns: 70px auto;
    flex: 1 1;
    margin: 20px;
}

.userCoverPhoto {
    width: 100%;
    max-height: 60vh;
}

.nameAndPropic {
    display: flex;

}

.profileViewUserInfoContainer {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -50px;
    display: flex;

}

.profileViewProPic {
    width: 100%;
    aspect-ratio: 1;
}