.conversationListRoot {
    background: #47494a;
    padding: 10px;
    height: calc(100% - 20px);
}

.activeConversationItem {
    background: #737473
}

.friendInfoContainer {
    justify-content: space-between;
    align-items: center;
}

.createMessageContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.conversationImgContainer {
    width: 50px;
}

.messageTime {
    font-size: 10px;
}

.conversationListHeading {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
    color: white;
}

.conversationContainer {
    display: flex;
    align-content: center;
    align-items: center;
    line-height: 1px;
    gap: 0.5em;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    color: white;
}

.conversationContainer:hover {
    background: #9c9fa1;
}