.profileBtn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}

.profileImageNavBar {
    width: 100%;
    height: 100%;
}

.nabvarRoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px;
    background: #242526;
    padding: 0px 10px;
    height: var(--navBarHeightLarge);

}

.nabvarRootSmall {

    padding: 20px;
    background: #242526;
}

@media screen and (max-width:620px) {
    .siteName {
        width: 130px;
    }
}

@media screen and (min-width:620px) {
    .siteName {
        width: 150px;
    }
}

.siteName {
    background: white;

    border-radius: 10px;
}

.searchBar {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background: white;
    padding: 5px;
    border-radius: 18px;
    width: 40%;
}

.searchBarInput {
    padding: 10px;
    border: none;
    width: 100%;
}

.siteNameTxtSmall {
    padding: 1px 25px;
    background: #D9D9D9;
    border-radius: 10px;
}

.searchBtn {
    margin: 0px 7px;
}

.otherOptions {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4, 25%);
    padding: 2px 22px;
    border-radius: 10px;
    gap: 20px;

}

.otherOptionsSmall {
    align-content: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;
    justify-items: center;
}

.menuBtn {
    color: white;
    size: 10px;
    font-size: 35px;
}

.navBarContainer {
    /* position: fixed; */
    width: 100%;
    top: 0;
}

.searchBarInput:focus {
    border: none;
}

@media screen and (min-width:620px) {
    .smallScreen {
        display: none;
    }

    .largeScreen {
        display: block;
    }


}

@media screen and (max-width:620px) {
    .largeScreen {
        display: none;
    }

    .smallScreen {
        display: block;
    }
}

.siteHeadingSmall {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}