.floatingMessengerContainer {
    position: absolute;
    top: calc(40vh - 40px);
    width: 30vw;

    right: 0;
    height: 60vh;
}

@media screen and (max-width:620px) {
    .floatingMessengerContainer {
        width: 80vw;
    }
}

.sendMessageFormContainer {
    display: grid;
    grid-template-columns: auto 70px;
    align-items: center;
}

.actionBtnContainer {
    display: flex;
    gap: 10px;
}

.messengerHeadingContainer {
    background: #242526;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.textMessagesContainer {
    max-height: calc(100% - 71px);
    overflow-y: auto;
}

.userInfoContainer {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px;
}