.mainView {
    display: grid;
    grid-template-columns: 25% 40% 25%;
    margin-top: 94px;
    max-height: calc(100vh - 94px);
    overflow-y: hidden;
    background: #18191A;
    justify-content: space-between;
}

.mainViewSmall {
    margin-top: 152px;
    display: grid;
    grid-template-columns: auto;
    max-height: calc(100vh - 152px);
    overflow-y: hidden;
    background: #18191A;
}