.messagesContainerRoot {
    max-height: inherit;
    height: inherit;
    overflow-y: auto;
    background: #242526;
    border-radius: 10px;
}

.messagesContainerRoot::-webkit-scrollbar {
    display: none;
}