.leftMenuItem {
    background: #5D5F61;
    display: grid;
    align-items: center;
    grid-template-columns: 60px auto;
    color: white;
    font-size: 19px;
    align-content: center;
    padding: 0px 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.leftMenuIcon {
    font-size: 40px;
}

.userImageContainer {
    width: 50px;
}

.userImage {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
}

.leftMenuRoot {
    background: #47494A;
    height: calc(100vh - 152px);
    padding: 10px;
}

@media screen and (max-width: 620px) {
    .leftMenuRoot {

        height: calc(100vh - 152px);
    }
}

@media screen and (min-width: 620px) {
    .leftMenuRoot {

        height: calc(100vh - 94px);
    }
}