.featuredImageContainer {

    aspect-ratio: 3/4;
    background: #5d5f61;
    align-items: center;
    align-content: center;
    display: flex;
    padding: 5px;
    border-radius: 10px;
}

.featuredPostContainer {
    width: 110px;
    background: #202122;
    padding: 1px;
    border-radius: 5px;
    margin: 10px;
}

.featuredImage {
    width: 100%;
}

.groupLabel {
    display: flex;
    justify-content: center;
    line-height: 1px;
    margin: 0;
}

.groupLabelText {

    color: white;
    font-size: 16px;
    font-weight: 100;

}