.tabContainer {
    display: flex;
    grid-template-columns: 20% auto;
    position: sticky;
    top: -15px;
    background: #18191a;
    padding: 10px;
    border-radius: 10px;
}

.tabItem {
    font-size: 20px;
    font-weight: 100;
    margin-right: 20px;
    color: white;
}

.active {
    border-bottom: 3px solid blue;
}

@media screen and (min-width:620px) {

    .tabContainer {
        width: 40vw;
        margin: auto;
    }

}